.gridTemplate {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: white;
    gap: 20px;
}

@media (max-width: 767px) {
    .gridTemplate {
        /* grid-template-columns: minmax(200px, 1fr); */
        gap: 20px;
    }
}

.card {
    overflow: hidden;
    background-color: white;
    box-shadow:
        0 12px 20px rgb(0 0 0 / 13%),
        0 2px 4px rgb(0 0 0 / 12%);
    border-radius: 5px;
}

.cover {
    max-width: 100%;
    width: 100%;
    height: 250px;
    /* object-fit: cover; */
}

.info {
    padding: 10px;
    border-top: 1px solid #eee;
    font-size: 13px;
    background-color:;
}

.description {
    line-height: 1.6;
    font-size: 16px;
    color: grey;
    width: 100%;
    padding: 5px;
    height: 120px;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
}

.title {
    font-size: 13px;
    padding: 5px;
}

.btn {
    display: flex;
    justify-content: center !important;
    /* width: 100%; */
}

.more {
    background-color: var(--main-color);
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    display: inline-block;
    margin: 10px auto;
}

.skCard {
    background-color: #eee;
    /* padding: 10px; */
    width: 100%;
    /* direction: rtl; */
    height: fit-content;
    overflow: hidden;
    border: 1px solid #eee;
}

.item {
    display: block;
    background-color: white;
}
